### Dependencies

In [4]:
import requests
import re
import pandas as pd
from bs4 import BeautifulSoup
from lxml import html
import datetime
# from selenium import webdriver
# from selenium.common.exceptions import NoSuchElementException
# from selenium.webdriver.common.keys import Keys

In [3]:
print(datetime.datetime.now())
driver = webdriver.Safari()
driver.get("https://www.cargurus.com/Cars/inventorylisting/viewDetailsFilterViewInventoryListing.action?sourceContext=cargurus&newSearchFromOverviewPage=true&inventorySearchWidgetType=AUTO&entitySelectingHelper.selectedEntity=&entitySelectingHelper.selectedEntity2=&zip=03824&distance=100&searchChanged=true&modelChanged=true&filtersModified=true&sortType=undefined&sortDirection=undefined")
R = []
while True:
    response = requests.get("https://www.cargurus.com/Cars/inventorylisting/viewDetailsFilterViewInventoryListing.action?sourceContext=cargurus&newSearchFromOverviewPage=true&inventorySearchWidgetType=AUTO&entitySelectingHelper.selectedEntity=&entitySelectingHelper.selectedEntity2=&zip=03824&distance=100&searchChanged=true&modelChanged=true&filtersModified=true&sortType=undefined&sortDirection=undefined")
    try:
        soup = BeautifulSoup(driver.page_source,"lxml")
        Title = soup.findAll(class_ = "cg-dealFinder-result-model")
        for tl in Title:
            R1 = (tl.get_text()).split("\n")
            R.append(R1)
        driver.find_element_by_xpath('//*[contains(concat( " ", @class, " " ), concat( " ", "js-go-to-next-page", " " ))]').click()
    except:
        break

print(datetime.datetime.now())

2018-10-31 11:41:32.963138
2018-10-31 11:41:43.301480

In [100]:
df = pd.DataFrame(R)
df

,0,1,2,3,4,5
0,2016 Mazda MX-5 Miata Club Convertible,,,None,None,None
1,2015 Dodge Durango Limited AWD,,,None,None,None
2,2017 GMC Terrain SLT1,,,None,None,None
3,,2016 Buick Encore Leather AWD,Used Cars,in,"North Attleboro, MA 02760",
4,,2017 Nissan Murano Platinum AWD,Used Cars,in,"Natick, MA 01760",
5,,2018 Nissan Rogue SV AWD,Used Cars,in,"East Providence, RI 02914",
6,,2011 GMC Yukon Denali AWD,Used Cars,in,"Rockland, MA 02370",
7,,2016 Mazda MX-5 Miata Club Convertible,Used Cars,in,"Marlborough, MA 01752",
8,,2006 GMC Sierra 1500 SLT Crew Cab 4WD 5.8 ft. SB,Used Cars,in,"Milford, NH 03055",
9,,2017 Nissan Murano Platinum AWD,Used Cars,in,"Framingham, MA 01701",
10,,2015 Nissan Rogue SL AWD,Used Cars,in,"Brockton, MA 02301",
11,,2016 BMW 2 Series 228i xDrive Coupe AWD,Used Cars,in,"Peabody, MA 01960",
12,,2018 Buick Envision Essence AWD,Used Cars,in,"Rochester, NH 03867",
13,,2018 Mercedes-Benz GLE-Class GLE 350 4MATIC,Used Cars,in,"Westborough, MA 01581",
14,,2018 Nissan Rogue Sport SL AWD,Used Cars,in,"East Providence, RI 02914",
15,,2007 Ford Expedition Eddie Bauer 4X4,Used Cars,in,"Tilton, NH 03276",
16,,2018 Land Rover Range Rover Evoque SE AWD,Used Cars,in,"Burlington, MA 01803",
17,,2016 Acura RDX,Used Cars,in,"Brighton, MA 02135",
18,2016 Buick Encore Leather AWD,,,None,None,None
19,2017 Nissan Murano Platinum AWD,,,None,None,None
20,2018 Nissan Rogue SV AWD,,,None,None,None
21,2011 GMC Yukon Denali AWD,,,None,None,None
22,2016 Mazda MX-5 Miata Club Convertible,,,None,None,None
23,2006 GMC Sierra 1500 SLT Crew Cab 4WD 5.8 ft. SB,,,None,None,None
24,2017 Nissan Murano Platinum AWD,,,None,None,None
25,2015 Nissan Rogue SL AWD,,,None,None,None
26,2016 BMW 2 Series 228i xDrive Coupe AWD,,,None,None,None
27,2018 Buick Envision Essence AWD,,,None,None,None
28,2018 Mercedes-Benz GLE-Class GLE 350 4MATIC,,,None,None,None
29,2018 Nissan Rogue Sport SL AWD,,,None,None,None
...,...,...,...,...,...,...
3984,2015 Nissan Altima 2.5 SL,,,None,None,None
3985,2017 Ford Escape SE AWD,,,None,None,None
3986,2014 Jeep Cherokee Limited 4WD,,,None,None,None
3987,2012 GMC Yukon XL 1500 SLT 4WD,,,None,None,None
3988,2014 Lincoln MKT EcoBoost AWD,,,None,None,None
3989,2015 BMW 3 Series 328i xDrive Sedan AWD,,,None,None,None
3990,2007 Jeep Commander Sport 4X4,,,None,None,None
3991,2016 Audi Q5 2.0T Premium Plus AWD,,,None,None,None
3992,2016 Chevrolet Trax LS AWD,,,None,None,None
3993,2016 Nissan Versa Note SV,,,None,None,None
3994,,2016 Buick Encore Leather AWD,Used Cars,in,"North Attleboro, MA 02760",
3995,,2017 Nissan Murano Platinum AWD,Used Cars,in,"Natick, MA 01760",
3996,,2018 Nissan Rogue SV AWD,Used Cars,in,"East Providence, RI 02914",
3997,,2011 GMC Yukon Denali AWD,Used Cars,in,"Rockland, MA 02370",
3998,,2016 Mazda MX-5 Miata Club Convertible,Used Cars,in,"Marlborough, MA 01752",
3999,,2006 GMC Sierra 1500 SLT Crew Cab 4WD 5.8 ft. SB,Used Cars,in,"Milford, NH 03055",
4000,,2017 Nissan Murano Platinum AWD,Used Cars,in,"Framingham, MA 01701",
4001,,2015 Nissan Rogue SL AWD,Used Cars,in,"Brockton, MA 02301",
4002,,2016 BMW 2 Series 228i xDrive Coupe AWD,Used Cars,in,"Peabody, MA 01960",
4003,,2018 Buick Envision Essence AWD,Used Cars,in,"Rochester, NH 03867",
4004,,2018 Mercedes-Benz GLE-Class GLE 350 4MATIC,Used Cars,in,"Westborough, MA 01581",
4005,,2018 Nissan Rogue Sport SL AWD,Used Cars,in,"East Providence, RI 02914",
4006,,2007 Ford Expedition Eddie Bauer 4X4,Used Cars,in,"Tilton, NH 03276",
4007,,2018 Land Rover Range Rover Evoque SE AWD,Used Cars,in,"Burlington, MA 01803",
4008,,2016 Acura RDX,Used Cars,in,"Brighton, MA 02135",
4009,2009 Kia Borrego EX V6 4WD,,,None,None,None
4010,2013 Toyota Highlander Limited AWD,,,None,None,None
4011,2008 Nissan Xterra X 4WD,,,None,None,None
4012,2012 Toyota Tundra SR5 CrewMax 5.7L 4WD,,,None,None,None
4013,2008 Nissan Altima 2.5 S SULEV,,,None,None,None

In [101]:
df.to_csv("Carguru.csv")

# Secondary Stuff

In [73]:
print(datetime.datetime.now())
driver = webdriver.Safari()
driver.get("https://www.cargurus.com/Cars/inventorylisting/viewDetailsFilterViewInventoryListing.action?sourceContext=cargurus&newSearchFromOverviewPage=true&inventorySearchWidgetType=AUTO&entitySelectingHelper.selectedEntity=&entitySelectingHelper.selectedEntity2=&zip=03824&distance=100&searchChanged=true&modelChanged=true&filtersModified=true&sortType=undefined&sortDirection=undefined")
S = []
while True:
    response = requests.get("https://www.cargurus.com/Cars/inventorylisting/viewDetailsFilterViewInventoryListing.action?sourceContext=cargurus&newSearchFromOverviewPage=true&inventorySearchWidgetType=AUTO&entitySelectingHelper.selectedEntity=&entitySelectingHelper.selectedEntity2=&zip=03824&distance=100&searchChanged=true&modelChanged=true&filtersModified=true&sortType=undefined&sortDirection=undefined")
    try:
        soup = BeautifulSoup(driver.page_source,"lxml")
        Title = soup.findAll(class_ = "cg-dealFinder-priceAndMoPayment")
        for tl in Title:
            R2 = (tl.get_text()).split("\n")
            S.append(R2)
        driver.find_element_by_xpath('//*[contains(concat( " ", @class, " " ), concat( " ", "js-go-to-next-page", " " ))]').click()
    except:
        break

print(datetime.datetime.now())

2018-10-22 16:24:05.678045
2018-10-22 16:28:10.917730

In [102]:
df2 = df.drop_duplicates(subset = [0], keep='first')

In [103]:
df2

,0,1,2,3,4,5
0,2016 Mazda MX-5 Miata Club Convertible,,,None,None,None
1,2015 Dodge Durango Limited AWD,,,None,None,None
2,2017 GMC Terrain SLT1,,,None,None,None
3,,2016 Buick Encore Leather AWD,Used Cars,in,"North Attleboro, MA 02760",
18,2016 Buick Encore Leather AWD,,,None,None,None
19,2017 Nissan Murano Platinum AWD,,,None,None,None
20,2018 Nissan Rogue SV AWD,,,None,None,None
21,2011 GMC Yukon Denali AWD,,,None,None,None
23,2006 GMC Sierra 1500 SLT Crew Cab 4WD 5.8 ft. SB,,,None,None,None
25,2015 Nissan Rogue SL AWD,,,None,None,None
26,2016 BMW 2 Series 228i xDrive Coupe AWD,,,None,None,None
27,2018 Buick Envision Essence AWD,,,None,None,None
28,2018 Mercedes-Benz GLE-Class GLE 350 4MATIC,,,None,None,None
29,2018 Nissan Rogue Sport SL AWD,,,None,None,None
30,2007 Ford Expedition Eddie Bauer 4X4,,,None,None,None
31,2018 Land Rover Range Rover Evoque SE AWD,,,None,None,None
32,2016 Acura RDX,,,None,None,None
33,2016 Audi A3 2.0T quattro Premium Cabriolet AWD,,,None,None,None
49,2008 Dodge Magnum SXT RWD,,,None,None,None
50,2016 Land Rover Range Rover Evoque SE Premium,,,None,None,None
51,2016 Hyundai Tucson 1.6T Sport AWD,,,None,None,None
52,2012 Ford F-150,,,None,None,None
53,2014 Lincoln MKZ FWD,,,None,None,None
54,2018 Cadillac XT5 Luxury FWD,,,None,None,None
55,2016 Mercedes-Benz C-Class C 300 4MATIC,,,None,None,None
56,2013 Buick Enclave Premium AWD,,,None,None,None
57,2015 GMC Terrain SLE1 AWD,,,None,None,None
58,2014 Chevrolet Silverado 1500 LTZ Z71 Crew Cab...,,,None,None,None
59,2015 Cadillac CTS 2.0T Luxury AWD,,,None,None,None
60,2015 Jeep Cherokee Trailhawk 4WD,,,None,None,None
...,...,...,...,...,...,...
3897,2017 Ford Explorer XLT AWD,,,None,None,None
3899,2009 Cadillac CTS 3.6L RWD,,,None,None,None
3900,2010 Ford F-150 XL SuperCrew 4WD,,,None,None,None
3901,2009 Nissan Frontier PRO-4X Crew Cab 4WD,,,None,None,None
3919,2014 Mazda MAZDA6 i Touring,,,None,None,None
3926,2011 Lexus ES 350 FWD,,,None,None,None
3927,2006 Toyota Camry Solara SE,,,None,None,None
3928,2011 Ford Escape XLT 4WD,,,None,None,None
3929,2010 Ford Fusion S,,,None,None,None
3930,2017 GMC Sierra 1500 SLT Crew Cab 4WD,,,None,None,None
3931,2008 Jeep Liberty Sport 4WD,,,None,None,None
3933,2005 GMC Canyon SLE Z71 Crew Cab 2WD,,,None,None,None
3951,2017 Ford Expedition EL XLT 4WD,,,None,None,None
3952,2012 Ford Edge SE Fleet AWD,,,None,None,None
3959,2012 Volkswagen Golf R 4-Door AWD with Sunroof...,,,None,None,None
3961,2012 GMC Acadia SLT1,,,None,None,None
3962,2006 Subaru Impreza 2.5i Wagon,,,None,None,None
3963,2014 Kia Soul +,,,None,None,None
3980,2011 BMW 3 Series 328i xDrive Sedan AWD,,,None,None,None
3981,2016 Subaru Outback 2.5i,,,None,None,None
3983,2015 Chevrolet Sonic LS Hatchback FWD,,,None,None,None
3987,2012 GMC Yukon XL 1500 SLT 4WD,,,None,None,None
3988,2014 Lincoln MKT EcoBoost AWD,,,None,None,None
3990,2007 Jeep Commander Sport 4X4,,,None,None,None
3993,2016 Nissan Versa Note SV,,,None,None,None
4009,2009 Kia Borrego EX V6 4WD,,,None,None,None
4010,2013 Toyota Highlander Limited AWD,,,None,None,None
4011,2008 Nissan Xterra X 4WD,,,None,None,None
4012,2012 Toyota Tundra SR5 CrewMax 5.7L 4WD,,,None,None,None
4013,2008 Nissan Altima 2.5 S SULEV,,,None,None,None

In [104]:
df2.to_csv("Carguru1.csv")

In [105]:
df3 = df2.drop_duplicates(subset = [0], keep='first')

In [106]:
df3

,0,1,2,3,4,5
0,2016 Mazda MX-5 Miata Club Convertible,,,None,None,None
1,2015 Dodge Durango Limited AWD,,,None,None,None
2,2017 GMC Terrain SLT1,,,None,None,None
3,,2016 Buick Encore Leather AWD,Used Cars,in,"North Attleboro, MA 02760",
18,2016 Buick Encore Leather AWD,,,None,None,None
19,2017 Nissan Murano Platinum AWD,,,None,None,None
20,2018 Nissan Rogue SV AWD,,,None,None,None
21,2011 GMC Yukon Denali AWD,,,None,None,None
23,2006 GMC Sierra 1500 SLT Crew Cab 4WD 5.8 ft. SB,,,None,None,None
25,2015 Nissan Rogue SL AWD,,,None,None,None
26,2016 BMW 2 Series 228i xDrive Coupe AWD,,,None,None,None
27,2018 Buick Envision Essence AWD,,,None,None,None
28,2018 Mercedes-Benz GLE-Class GLE 350 4MATIC,,,None,None,None
29,2018 Nissan Rogue Sport SL AWD,,,None,None,None
30,2007 Ford Expedition Eddie Bauer 4X4,,,None,None,None
31,2018 Land Rover Range Rover Evoque SE AWD,,,None,None,None
32,2016 Acura RDX,,,None,None,None
33,2016 Audi A3 2.0T quattro Premium Cabriolet AWD,,,None,None,None
49,2008 Dodge Magnum SXT RWD,,,None,None,None
50,2016 Land Rover Range Rover Evoque SE Premium,,,None,None,None
51,2016 Hyundai Tucson 1.6T Sport AWD,,,None,None,None
52,2012 Ford F-150,,,None,None,None
53,2014 Lincoln MKZ FWD,,,None,None,None
54,2018 Cadillac XT5 Luxury FWD,,,None,None,None
55,2016 Mercedes-Benz C-Class C 300 4MATIC,,,None,None,None
56,2013 Buick Enclave Premium AWD,,,None,None,None
57,2015 GMC Terrain SLE1 AWD,,,None,None,None
58,2014 Chevrolet Silverado 1500 LTZ Z71 Crew Cab...,,,None,None,None
59,2015 Cadillac CTS 2.0T Luxury AWD,,,None,None,None
60,2015 Jeep Cherokee Trailhawk 4WD,,,None,None,None
...,...,...,...,...,...,...
3897,2017 Ford Explorer XLT AWD,,,None,None,None
3899,2009 Cadillac CTS 3.6L RWD,,,None,None,None
3900,2010 Ford F-150 XL SuperCrew 4WD,,,None,None,None
3901,2009 Nissan Frontier PRO-4X Crew Cab 4WD,,,None,None,None
3919,2014 Mazda MAZDA6 i Touring,,,None,None,None
3926,2011 Lexus ES 350 FWD,,,None,None,None
3927,2006 Toyota Camry Solara SE,,,None,None,None
3928,2011 Ford Escape XLT 4WD,,,None,None,None
3929,2010 Ford Fusion S,,,None,None,None
3930,2017 GMC Sierra 1500 SLT Crew Cab 4WD,,,None,None,None
3931,2008 Jeep Liberty Sport 4WD,,,None,None,None
3933,2005 GMC Canyon SLE Z71 Crew Cab 2WD,,,None,None,None
3951,2017 Ford Expedition EL XLT 4WD,,,None,None,None
3952,2012 Ford Edge SE Fleet AWD,,,None,None,None
3959,2012 Volkswagen Golf R 4-Door AWD with Sunroof...,,,None,None,None
3961,2012 GMC Acadia SLT1,,,None,None,None
3962,2006 Subaru Impreza 2.5i Wagon,,,None,None,None
3963,2014 Kia Soul +,,,None,None,None
3980,2011 BMW 3 Series 328i xDrive Sedan AWD,,,None,None,None
3981,2016 Subaru Outback 2.5i,,,None,None,None
3983,2015 Chevrolet Sonic LS Hatchback FWD,,,None,None,None
3987,2012 GMC Yukon XL 1500 SLT 4WD,,,None,None,None
3988,2014 Lincoln MKT EcoBoost AWD,,,None,None,None
3990,2007 Jeep Commander Sport 4X4,,,None,None,None
3993,2016 Nissan Versa Note SV,,,None,None,None
4009,2009 Kia Borrego EX V6 4WD,,,None,None,None
4010,2013 Toyota Highlander Limited AWD,,,None,None,None
4011,2008 Nissan Xterra X 4WD,,,None,None,None
4012,2012 Toyota Tundra SR5 CrewMax 5.7L 4WD,,,None,None,None
4013,2008 Nissan Altima 2.5 S SULEV,,,None,None,None

In [4]:
M = "https://www.cargurus.com/Cars/inventorylisting/viewDetailsFilterViewInventoryListing.action?sourceContext=cargurus&newSearchFromOverviewPage=true&inventorySearchWidgetType=AUTO&entitySelectingHelper.selectedEntity=&entitySelectingHelper.selectedEntity2=&zip=03824&distance=100&searchChanged=true&modelChanged=true&filtersModified=true&sortType=undefined&sortDirection=undefined"
print(M)
N = "https://www.cargurus.com/Cars/inventorylisting/viewDetailsFilterViewInventoryListing.action?sourceContext=cargurus&newSearchFromOverviewPage=true&inventorySearchWidgetType=AUTO&entitySelectingHelper.selectedEntity=&entitySelectingHelper.selectedEntity2=&zip=03824&distance=100&searchChanged=true&modelChanged=true&filtersModified=true&sortType=undefined&sortDirection=undefined#resultsPage=2"
print(N)

https://www.cargurus.com/Cars/inventorylisting/viewDetailsFilterViewInventoryListing.action?sourceContext=cargurus&newSearchFromOverviewPage=true&inventorySearchWidgetType=AUTO&entitySelectingHelper.selectedEntity=&entitySelectingHelper.selectedEntity2=&zip=03824&distance=100&searchChanged=true&modelChanged=true&filtersModified=true&sortType=undefined&sortDirection=undefined
https://www.cargurus.com/Cars/inventorylisting/viewDetailsFilterViewInventoryListing.action?sourceContext=cargurus&newSearchFromOverviewPage=true&inventorySearchWidgetType=AUTO&entitySelectingHelper.selectedEntity=&entitySelectingHelper.selectedEntity2=&zip=03824&distance=100&searchChanged=true&modelChanged=true&filtersModified=true&sortType=undefined&sortDirection=undefined#resultsPage=2